# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = Scrapy5_dapenti_yitu.settings

[deploy]
#url = http://localhost:6800/
project = Scrapy5_dapenti_yitu
